transformers #==4.46.0 #,如果需要transformers版本不兼容，可能需要降transformers版本号至4.46.0
zstandard
multiprocess
xxhash
# concurrent
# datasets==3.6.0 # 如若安装datasets的时候碰到conflicting dependencies的错误，单独运行pip install datasets==3.6.0 --no-deps
accelerate
